
b,
strong {
  font-weight: 700;
}

em,
i {
  font-style: italic;
}

small {
  font-size: 0.8em;
}

big {
  font-size: 1.2em;
}

dl dt {
  font-weight: 700;
}

ol,
ul {
  line-height: 1.3;
}

pre,
code {
  font-family: monospace;
  line-height: 1.2;
}
