/**
 * @file
 * Inline items.
 */

.layout-containerInline label:after,
.layout-containerInline .label:after {
  content: ':';
}
.radios .layout-containerInline label:after {
  content: '';
}
.radios .layout-containerInline .form-type-radio {
  margin: 0 1em;
}
.layout-containerInline .form-actions,
.layout-containerInline.form-actions {
  margin-top: 0;
  margin-bottom: 0;
}
